  
#Contenedor {
  justify-content: center;
  align-items: center;
  text-align: center;
} 



#Saludo{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
  font-family: Georgia;
  text-shadow: 2px 2px 2px black;
  color: #94e7ff;
  
}

 #Tlogin{
  margin-top: 3%;
  font-size: 50px; 
  font-family: Georgia;
  color: #56fffc;

}

#U{
  margin-bottom: 1%;
  margin-top: 3%; 
  font-size: 27px;
  font-family: Georgia;
  color: #7cdaf9


}

#C{
  margin-bottom: 1%;
  margin-top: 3%;
  font-size: 27px;
  font-family: Georgia;
  color: #7cdaf9;
}

#Usu{
  margin-top: -2.9%;
  height: 30px;
  width: 300px;
  font-size: 20px;
  font-family: Georgia;
  border-radius: 5px;
  border-color: #004173;
  color: rgb(0, 40, 70);
  background: #7cdaf9;
  box-shadow: 2px 2px 5px 1px #b6ffff;
 
}

#Contra{
  margin-top: -2.9%;
  height: 30px;
  width: 300px;
  font-size: 20px;
  font-family: Georgia;
  border-radius: 5px;
  border-color: #004173;
  color: rgb(0, 40, 70);
  background: #7cdaf9;
  box-shadow: 2px 2px 5px 1px #b6ffff;
}

#In{
  margin-top: 3%;
  height: 40px;
  width: 200px;
  border-color: #004173;
  border-radius: 4px;
  font-size: 20px;
  font-family: Georgia;
  color: rgb(142, 255, 246);
    background: rgb(0, 40, 70);
    box-shadow: 2px 2px 5px 1px aqua;
}

::placeholder{
  color: #004173;
}

#nota{
  position: absolute;
  margin-top: 1%;
  font-size: 15px;
  font-family: Georgia;
  color: #94e7ff;
}  

/* 
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #004173;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: #d1fdff;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  color:#002038;
  font-family: georgia;
  font-style: italic;
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  font-family: georgia;
  color: rgb(84, 100, 202);
  font-size: 14px;
  line-height: 1.5;
  margin: 30px;
}
.right {
  background: rgb(0, 0, 56);
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 30px;
  position: absolute;
}
label {
  color:  #07a4ff;
  font-family: georgia; 
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

button{
  width:85%;
    background:#07a4ff;
    padding:15px;
    border:none;
    border-radius:5px;
    font-size:18px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    text-transform:capitalize;
    font-family: Arial;
}

input{
  background: transparent;
  border: none;
  margin-bottom:20px;
  padding-bottom:-80px;
  border:none;
  border-bottom:3px solid #07a4ff;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input, button::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
}
#submit:active {
  color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
}


 */
