

#Saludo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  font-size: 30px;
  font-family: Georgia;
  color: #94e7ff;
  
}

#Tlogin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  font-size: 50px;
  font-family: Georgia;
  color: #56fffc;

}

#U{
  display: flex;
  margin-left: 42%;
  margin-top: 3%;
  font-size: 27px;
  font-family: Georgia;
  color: #7cdaf9


}

#C{
  display: flex;
  margin-left: 40.2%;
  margin-top: 3%;
  font-size: 27px;
  font-family: Georgia;
  color: #7cdaf9;
}

#Usu{
  display: flex;
  margin-left: 47.5%;
  margin-top: -2.9%;
  height: 30px;
  width: 300px;
  font-size: 20px;
  font-family: Georgia;
  border-radius: 5px;
  border-color: #004173;
  color: rgb(0, 40, 70);
  background: #7cdaf9;
  box-shadow: 2px 2px 5px 1px #b6ffff;
 
}

#Contra{
  display: flex;
  margin-left: 47.5%;
  margin-top: -2.9%;
  height: 30px;
  width: 300px;
  font-size: 20px;
  font-family: Georgia;
  border-radius: 5px;
  border-color: #004173;
  color: rgb(0, 40, 70);
  background: #7cdaf9;
  box-shadow: 2px 2px 5px 1px #b6ffff;
}

#In{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  margin-top: 3%;
  height: 40px;
  width: 200px;
  border-color: #004173;
  border-radius: 4px;
  font-size: 20px;
  font-family: Georgia;
  color: rgb(142, 255, 246);
    background: rgb(0, 40, 70);
    box-shadow: 2px 2px 5px 1px aqua;
}

::placeholder{
  color: #004173;
}

#nota{
  position: absolute;
  margin-top: 1%;
  font-size: 15px;
  font-family: Georgia;
  color: #94e7ff;
}