#Container{
  align-items: center;
  justify-content: center;
  text-align: center;
}

body{
  background:  #004173;

}

#Tconfirm{
    margin-top: 3%;
    font-size: 50px;
    font-family: Georgia;
    color: rgb(142, 255, 246);
  }
  
  #TextCon{
    margin-top: 1%;
    font-size: 20px;
    font-family: Georgia;
    color: #7cdaf9
  }
  
  #Operacion{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 25px;
    font-family: Georgia;
    color: #7cdaf9
  }
  
  #Respuesta{
    margin-top: -2.7%;
    height: 30px;
    width: 100px;
    font-size: 20px;
    font-family: Georgia;
    border-radius: 5px;
    border-color: #004173;
    color: rgb(0, 40, 70);
    background: #7cdaf9;
    box-shadow: 2px 2px 5px 1px #b6ffff;
  }
  
  #Ver{
    margin-top: 3%;
    height: 40px;
    width: 200px;
    border-color: #004173;
    border-radius: 4px;
    font-size: 20px;
    font-family: Georgia;
    color: rgb(142, 255, 246);
    background: rgb(0, 40, 70);
    box-shadow: 2px 2px 5px 1px aqua;
  }

  ::placeholder{
    color: #004173;
  }